/* Resetear estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Propiedades de body */
body {
    font-family: "Roboto", sans-serif;
    background-color: #042e33;;
    text-align: center;
    color: #fff;
}

/* Propiedades de header */
header {
    margin-bottom: 4vh;
}

/* Propiedades del h1 */
h1 {
    font-size: 4vw;
}

/* Propiedades de las filas */
.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin-bottom: 5vh;
}

/* Propiedades de los h2 */
h2 {
    font-size: 3vw;
}

/* Propiedades de los botónes */
button {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    cursor: pointer;
    padding: 0.6vw;
    font-size: 2vw;
    border: 0.2vw solid #000;
    border-radius: 2vw;
    background-color: #4e0000;
    color: #fff;
    transition: background-color 0.2s;
}

/* Propiedades de los botónes al pasar el cursor encima */
button:hover {
    background-color: #000081;
    transition: background-color 0.2s;
}